<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated studymodel -->
      <package
            uri="http://org.eclipse.NTNU.studymodel"
            class="studymodel.StudymodelPackage"
            genModel="model/studymodel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Programme -->
      <package
            uri="http://org.eclipse.NTNU.studymodel"
            class="programme.ProgrammePackage"
            genModel="model/Programme.genmodel"/>
   </extension>

</plugin>
